.homepage {
  padding: 2rem;
  font-family: Arial, sans-serif;

  .banner {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .home-image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  h1 {
    color: #333;
    text-align: center;
  }

  h2 {
    color: #0074c7;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    .step {
      background-color: #f5f5f5;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      position: relative;
      padding-left: 4rem;
      display: flex;
      align-items: center;

      .step-number {
        color: #fff;
        background-color: #0074c7;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
      }

      p {
        margin: 0;
      }
    }
  }

  .artisan-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Équilibrer les cartes au centre */
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 100%;

    @media (max-width: 768px) {
      justify-content: center; /* Réajustement pour écrans moyens */
    }

    @media (max-width: 576px) {
      flex-direction: column; /* Réajustement pour petits écrans */
    }
  }

  .artisan-card-wrapper {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      flex: 1 1 calc(50% - 2rem);
    }

    @media (max-width: 576px) {
      flex: 1 1 100%;
    }
  }

  .artisan-card {
    max-width: none;
    width: 100%;
    height: 350px !important;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 576px) {
      height: auto; /* Ajustement pour petits écrans */
    }
  }

  .artisan-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #0074c7;
  }

  .card-body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stars {
    color: #ffd700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  p {
    color: #666;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
